.menu [type="checkbox"],
.menu label.toggleSubmenu {
    display: none;
}

.menu label.toggleMenu {
    display: none;
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

@media(max-width:1201px) {
    .menu li:hover>ul {
        display: none;
    }
}

@media(max-width:1200px) {
    body {
        background: url(bg_fansAppeal.jpg) fixed;
        background-size: cover;
    }
    .menu li a:hover {
        color: #d697f0;
        box-shadow: 1px 5px 10px -5px #d697f0;
        transition: all 0.5s ease;
    }
    .hamburger {
        background: white;
        height: 60px;
        widows: 60px;
    }
    .menu ul {
        display: none;
    }
    .menu label.toggleMenu {
        display: block;
    }
    input.toggleMenu:checked~ul,
    input.toggleSubmenu:checked~ul {
        display: block;
        position: relative;
        margin: 10px;
    }
    .menu label.toggleSubmenu {
        position: absolute;
        top: 85px;
        right: 0;
        width: 1080px;
        height: 60px;
        display: block;
    }
    .form-control {
        position: absolute;
        margin-top: 650px;
        line-height: 100px;
        max-width: 500px;
        right: 90px;
    }
    .btn-info {
        margin-top: 1005px;
        margin-left: 130px;
        width: 170px;
    }
    .fansComment1 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 70px;
        right: 150px;
        height: 150px;
    }
    .fansComment2 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 400px;
        right: 150px;
        height: 150px;
    }
}

@media(max-width:992px) {
    .hamburger {
        height: 50px;
        widows: 50px;
    }
    .form-control {
        position: absolute;
        margin-top: 650px;
        line-height: 100px;
        max-width: 400px;
        right: 90px;
    }
    .btn-info {
        margin-top: 1025px;
        margin-left: 140px;
        width: 170px;
    }
    .fansComment1 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 70px;
        right: 130px;
        height: 150px;
    }
    .fansComment2 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 400px;
        right: 130px;
        height: 150px;
    }
}

@media(max-width:768px) {
    .hamburger {
        height: 40px;
        widows: 40px;
    }
    .form-control {
        position: absolute;
        margin-top: 650px;
        line-height: 100px;
        max-width: 300px;
        right: 90px;
    }
    .btn-info {
        margin-top: 1045px;
        margin-left: 150px;
        width: 170px;
    }
    .fansComment1 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 70px;
        right: 110px;
        height: 150px;
    }
    .fansComment2 td {
        position: absolute;
        background: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-top: 400px;
        right: 110px;
        height: 150px;
    }
    .footer {
        padding: 10px 20px;
        color: #ca56fc;
        background: #6e1e6a;
        font-size: 13px;
    }
}